<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upuaut.xposedsearch">

    <queries>
        <package android:name="com.heytap.browser" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.HeytapEngineManager"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true">

        <!-- ContentProvider -->
        <provider
            android:name=".SearchEngineProvider"
            android:authorities="com.upuaut.xposedsearch.provider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <!-- 真正的 MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- LSPosed 模块设置入口 - 使用 Xposed 专用 category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <!-- 桌面图标入口（activity-alias，可以被禁用） -->
        <activity-alias
            android:name=".MainActivityAlias"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Xposed 模块标记 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>